.navbar{
    background-color: #FF8200;
}

.nav-link, .nav-text, .navbar-brand {
    color: white;  
}

#logo{
    height: 75px;
    width: auto;
}

.sectionBreak {
background-color: #FF8200;
height: 75px;
}




.row {

    margin-top: 20px;
}




footer {
    color: rgba(83, 86, 90);
    background-color: #FF8200;
}

.btn{
    color: #FF8200 !important;
}





body {
    font-family: 'Poppins', sans-serif !important;
}

.row > .col-4 > img {
    height: 100px !important;
    width: auto;
    
}