{% load static %}
{%include 'utkwebsite/header.html'%}
        <div class="container-fluid">
        <h1 class="text-center">Board of Directors Nomination Form</h1>


        {{ form.non_field_errors }}
        <form class="mx-auto" method="POST">
                {% csrf_token %}
                <!-- {{form.as_p}} -->
            <div class="form-group">
                
                    <div class="fieldWrapper">
                        <label for="full_name">
                            Full Name:   
                        </label>
                        {{ form.full_name }}
                        <ul style="list-style-type: none;">
                            {% for error in form.name.errors %}
                                <li class="alert alert-danger">{{error}}</li>
                            {% endfor %}
                        </ul>                    
                    </div>
               
                <div class="fieldWrapper">
                    <label for="sport">
                        Sport which Nominee lettered in: 
                    </label>                            
                    {{ form.sport }}
                    <ul style="list-style-type: none;">
                        {% for error in form.sport.errors %}
                            <li class="alert alert-danger">{{error}}</li>
                        {% endfor %}
                    </ul> 
                   
                </div>
                <div class="fieldWrapper">
                    <label for="year">
                        Year:
                    </label>
                        {{ form.year }}
                    <ul style="list-style-type: none;">
                        {% for error in form.year.errors %}
                            <li class="alert alert-danger">{{error}}</li>
                        {% endfor %}
                    </ul>
                    
                </div>
                    <!-- <div class="alert alert-danger" hidden>
                        <p>Woopsie! You forgot your legal name there, bucko!!</p>
                        <p>Give it another go there, pal.</p>
                    </div>  -->
                <div class="fieldWrapper">
                    <label for="statement">
                        Statement of Support for Nominee:
                    </label>
                    <br>                            
                  <!-- <textarea class="form-control">   -->
                    {{ form.statement }}
                <!-- </textarea> -->
                    <ul style="list-style-type: none;">
                        {% for error in form.statement.errors %}
                            <li class="alert alert-danger">{{error}}</li>
                        {% endfor %}
                    </ul>
                    
                </div>

                <div class="fieldWrapper form-group">
                    <label for="address_one">Address</label>
                    {{ form.address_one}}
                    <ul style="list-style-type: none;">
                        {% for error in form.address_one.errors %}
                            <li class="alert alert-danger">{{error}}</li>
                        {% endfor %}
                    </ul>
                  </div>
                  <div class="fieldWrapper form-group">
                    <label for="address_two">Address 2</label>
                    {{ form.address_two}}
                    <ul style="list-style-type: none;">
                        {% for error in form.address_two.errors %}
                            <li class="alert alert-danger">{{error}}</li>
                        {% endfor %}
                    </ul>
                </div>
                  <div class="form-row">
                    <div class="fieldWrapper form-group col-md-6">
                      <label for="city">City</label>
                      {{ form.city}}
                      <ul style="list-style-type: none;">
                        {% for error in form.city.errors %}
                            <li class="alert alert-danger">{{error}}</li>
                        {% endfor %}
                    </ul>
                    </div>
                    <div class="fieldWrapper form-group col-md-4">
                      <label for="state">State</label>
                      {{ form.state}}
                      <ul style="list-style-type: none;">
                        {% for error in form.state.errors %}
                            <li class="alert alert-danger">{{error}}</li>
                        {% endfor %}
                    </ul>
                    </div>
                    <div class="fieldWrapper form-group col-md-2">
                      <label for="zip_code">Zip Code</label>
                      {{form.zip_code}}
                      <ul style="list-style-type: none;">
                        {% for error in form.zip_code.errors %}
                            <li class="alert alert-danger">{{error}}</li>
                        {% endfor %}
                    </ul>
                    </div>
                  </div>
                  <div class="fieldWrapper">
                    <label for="nominator">
                        Phone Number
                    </label>                            
                    {{ form.phone }}
                    <ul style="list-style-type: none;">
                        {% for error in form.phone.errors %}
                            <li class="alert alert-danger">{{error}}</li>
                        {% endfor %}
                    </ul>
                </div>
        
                <div class="fieldWrapper">
                    <label for="nominator">
                        Nominated By:
                    </label>                            
                    {{ form.nominator }}
                    <ul style="list-style-type: none;">
                        {% for error in form.name.errors %}
                            <li class="alert alert-danger">{{error}}</li>
                        {% endfor %}
                    </ul>
                </div>
                
                <button class="btn btn-block btn-outline-dark" type="submit">Submit Nomination</button>
            </div>
        </form>

    </div>
        <footer>
        </footer>



        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>

    </body>
    </html>