{% load static %}
{%include 'utkwebsite/header.html'%}
        <div class="container-fluid">
            <h2 class="text-center" id="memberTitle">How to become a member</h2>
            
            <p class="text-center" id="memberSupport"> Download our App on your mobile device either in the App Store or Google Play using the below instructions.</p>
                
            <div class="row justify-content-around">
                <div class="col-4 forUsers">
                    <h5>For iPhone users:</h5>
                </div>
                <div class="col-4 forUsers">
                    <h5>For Android users:</h5>
                </div>
            </div>    

            <div class="row justify-content-around">
                <div class="col-4">
                    1. Using your iPhone, tap <a href="/"><strong>here</strong> </a> or search for "Tennessee Lettermen T-Club" in the App Store.
                </div>
                <div class="col-4">
                    1. Using your Android, tap <a href="/"><strong>here</strong></a> on your phone or search for "Tennessee Lettermen T-Club" in the <a href="https://play.google.com/"></a>Google Play</a> app.
                </div>
            </div> 

            <div class="row justify-content-around">
                <div class="col-4"> <!-- image of App Store -> search term -> results -->
                   <img src="static/assets/athletes/appleAppStore.jpeg"> 
                   <br>
                   <img src="static/assets/athletes/appleStepOneSearch1.jpeg"> 
                   <br>
                   <img src="static/assets/athletes/appleStepOneSearch2.png"> 
                   <br>


                </div>
                <div class="col-4">
                    <!-- image of Google Play -> search term -> results -> tap on results-->          
                    <img src="static/assets/athletes/playStore.jpeg">
                    <img src="static/assets/athletes/androidHome.jpg"> 
                   <img src="static/assets/athletes/androidSearch.png">     
                </div>
            </div> 
            <div class="row justify-content-around">
                <div class="col-4">
                    2. Tap "Get" and download the app. 
                </div>
                <div class="col-4">
                    2. Tap "Install" and download the app. 
                </div>
            </div> 

            <div class="row justify-content-around">
                <div class="col-4">
                   <img src="static/assets/athletes/appleStepTwo.jpeg"> <!-- image of GET in App Store -> Open -->
                </div>
                <div class="col-4">
                    <img src="static/assets/athletes/androidInstall.jpg">  <!-- image of Install in Google Play -> Open-->               
                </div>
            </div> 

            <div class="row justify-content-around">
                <div class="col-4">
                    3. Wait for the App to download completely. Then tap "Open"
                </div>
                <div class="col-4">
                    3. Wait for the App to download completely. Then tap "Open"             
                </div>
            </div> 

            <div class="row justify-content-around">
                <div class="col-4">
                    <img src="static/assets/athletes/appleStepThree.jpeg"> <!-- Open in App Store or Picture of App on phone-->
                </div>
                <div class="col-4">
                    <img src="static/assets/athletes/androidOpen.jpg"><!-- Open in Google Play or Picture of App on phone -->               
                </div>
            </div> 

            <div class="row">
                <div class="col">
                    4. Once in the app, tap on Member Login.
                </div>
            </div> 

            <div class="row">
                <div class="col">
                    <img src="static/assets/athletes/StepFour.jpeg"><!-- Screenshot and circle of Member login-->
                </div>
            </div>

            <div class="row">
                <div class="col">
                    5. Then, tap on "Click here to purchase your membership."
                </div>
            </div> 

            <div class="row">
                <div class="col">
                    <img src="static/assets/athletes/StepFive.jpeg"><!-- Screenshot and circle of "Click here to purchase your membership."-->
                </div>
            </div>

            <div class="row">
                <div class="col">
                    6. Select the type of membership you want. Then, hit Next.
                </div>
            </div> 

            <div class="row">
                <div class="col">
                    <img src="static/assets/athletes/StepSix1.png"> <!-- Screenshot of Types of Membership-->
                </div>
            </div>
            <div class="row">
                <div class="col">
                    7. Fill out all relevant member information.
                </div>
            </div> 

            <div class="row">
                <div class="col">
                    <img src="static/assets/athletes/StepSeven.png">  <!-- Screenshot of Member Info-->
                    <img src="static/assets/athletes/StepSevenToo.jpeg">
                </div>
            </div>
            <div class="row">
                <div class="col">
                    8. Tap "Pay with Credit Card" and submit your payment
                </div>
            </div> 

            <div class="row">
                <div class="col">
                    <img src="static/assets/athletes/StepEight.png"> <!-- Screenshot of "Pay with Credit Card" and filled out credit card (censoring numbers)-->
                </div>
            </div>
            <div class="row">
                <div class="col">
                    9. The Board will verify your information and then pending approval, grant you all the benefits of being a Letterwinner<!--, which you can read more about <a href="/"> here.</a>-->
                </div>
            </div> 

            <div class="row">
                <div class="col">
                    <!--, which you can read more about <a href="/"> here.</a>-->
                </div>
            </div>


        </div>

        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
        <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


        </body>
        </html>
