{% load static %}
{%include 'utkwebsite/header.html'%}
        

<div class="container-fluid">

    <h2>Service Award Winners</h2>
    <p>Every year, the T Club selects a Letterwinner who has gone above and beyond to positively impact their community
        to receive the Service Award. </p>

    <table class="table">
        <thead>
          <tr>
            <th scope="col">Name</th>
            <th scope="col">Year of Award</th>
            <th scope="col">Sport played</th>
            <th scope="col">Years of Sport(s) played/Class Year</th>
          </tr>
        </thead>
        <tbody>
          <tr>
            <th scope="row">Bill Anderson</th>
            <td>1998</td>
            <td>Football</td>
            <td>1955-1957</td>
          </tr>
          <tr>
            <th scope="row">Bob Davis</th>
            <td>2000</td>
            <td>Football</td>
            <td>1949-1951</td>
          </tr>
          <tr>
            <th scope="row">Gene Moeller</th>
            <td>2000</td>
            <td>Football & Track</td>
            <td>1951-1952</td>
          </tr>
          <tr>
            <th scope="row">Gordon Polofsky</th>
            <td>2000</td>
            <td>Football</td>
            <td>1952-1953</td>
          </tr>
       
        </tbody>
      </table>



</div>


<script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@4.4.1/dist/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>


</body>
</html>